body {background-color: rgb(33, 21, 63);}

* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.kontajner {
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    box-sizing: border-box;
}

.menu{
    display: inline-flex;
    align-items: center;
    margin-left: 0px;
}

.menu_kontajner{
    background-color: rgb(64, 117, 160);
    background-size: 200%;
    margin-left: -47px;
    margin-right: -45px;
}

nav {
    flex: 1;
    text-align: right;
    margin-right: -35px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 30px;

}

nav ul li a {
    text-decoration: none;
    color: azure;
    font-size: 15px;

     
}

.logo{
    padding-right: 60px;
    margin-left: 74px;
    margin-top: 10px;

}

.nadpis{
    color: azure;
    text-decoration: none;
    font-size: 40px;
    margin-right: 300px;
}

.televizory:hover{
    transform: translateY(-5px);
}

.televizory {
    transition: transform 0.5s;
}

.telefony:hover{
    transform: translateY(-5px);
}

.telefony {
    transition: transform 0.5s;
}

.sluchadla:hover{
    transform: translateY(-5px);
}

.sluchadla {
    transition: transform 0.5s;
}

.notebooky:hover{
    transform: translateY(-5px);
}

.notebooky {
    transition: transform 0.5s;
}

.pracky:hover{
    transform: translateY(-5px);
}

.pracky {
    transition: transform 0.5s;
}

.o_nas:hover{
    transform: translateY(-5px);
}

.o_nas {
    transition: transform 0.5s;
}

.ikona_m{
    margin-top: 8px;
    margin-left: 115px;
}

.ikona_m:hover{
    transform: translateY(-5px);
    cursor: pointer;
}

.ikona_m {
    transition: transform 0.5s;
}

.televízory{
    color: rgb(255, 255, 255);
    font-size: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 40px;
    letter-spacing: 6px;
    font-weight: bold;
    margin-bottom: -40px;
    text-shadow: 2px 2px 8px #000000;
}

h2{
    color: azure;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin-top: 20px;
}

.obrazok_doprava{
    margin-top: 80px;
    text-align: center;

}

.popis{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: azure;
    font-size: 60px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

.pata{
    text-align: center;
    color: azure;
    font-size: 15px;
    margin: 20px;
    margin-top: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

button{
    width: 200px;
    color: rgba(255, 255, 255, 100%);
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    padding:  5px 1px 5px 1px;
    background: hsla(0, 75.9%, 45.5%, 100%);
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.5s;
    margin-left: 620px;
    margin-top: 20px;


}

table, th, td {
    border: 1px solid; color: azure;
}

table {
    width: 50%;
    margin-left: 340px;
    margin-bottom: 10px;
    
}

td {
    text-align: center;
}
th, td {
    color: azure;
}



